body {
    background-color: #D4CDCD;
    padding: 0;
}

.navbar {
    top: 0;
    left: 0;          
    right: 0;
    height: 38px;
    width: 100%;
    padding: 5px;
    position: absolute;
    overflow: hidden;
    background-color: #9F2D81;
    text-align: center;
}

.navbar > a {
    color: white;
    text-decoration: none;
    font-size: 1.8vw;    
    display: inline-block;
    padding-right: 6px;
    padding-left: 6px;
    line-height: 20px; 
    border-right: 1px solid white;
 
}

.navbar a:hover{
    background-color: #DB852F;
}

.body-container {
    margin-top: 95px;
    margin-left: 20px;
    margin-right: 22px;
    background-color: white;
    padding-bottom: 1px;
}

.rounded-corners {
    border-radius: 5px;
}

.title > h1 {
    font-size: 36px;
    text-align: center;
    padding-top: 6px;
    margin-bottom: 12px;
    margin-top: -88px;
}
}

#whoami {
    margin-left: 26px;
    margin-right: 26px;
    margin-bottom: 26px;
    padding-bottom: 4px;
}

#about-p {
    padding-left: 20px;
    padding-top: 17px;
    padding-right: 20px;
    font-size:2vw;
    margin-bottom: 2px;
}

#have-fun {
    text-align: center; 
    font-size:2vw; 
    margin-bottom: 16px;
    padding-bottom: 10px;
}

#whoami > p > a {
    color: #9F2D81;
}

.purple-background {
    background-color: #9F2D81;
    color: white;
}

.white-background {
    color: #9F2D81;
    background-color: white;
}

.gray-background {
    background-color: #D4CDCD;
    color: black;
}

#hoppies {
    margin-left: 26px;
    margin-right: 26px;
    margin-bottom: 26px;
    padding-left: 16px;
    padding-bottom: 1px;
    padding-top: 1px;
}

#loves {
    margin-left: 26px;
    margin-right: 26px;
    margin-bottom: 26px;
    padding-left: 16px;
    padding-bottom: 1px;
    padding-top: 1px;
}

#cources {
    margin-left: 26px;
    margin-bottom: 26px;
    padding-left: 16px;
    padding-right: 32px;
    padding-bottom: 4px;
    padding-top: 1px;
    font-size: 2vw;
    margin-right: 99px;
    display: contents;
}


ul {
    padding-left: 12px;
}

