body {
    background-color: #D4CDCD;
    padding: 0;
}

.navbar {
    top: 0;
    left: 0;          
    right: 0;
    height: 38px;
    width: 100%;
    padding: 5px;
    position: absolute;
    overflow: hidden;
    background-color: #9F2D81;
    text-align: center;
}

.navbar > a {
    color: white;
    text-decoration: none;
    font-size: 3vw;    
    display: inline-block;
    padding-right: 6px;
    padding-left: 6px;
    padding-top: 6px;
    line-height: 20px;  
}

.navbar a:hover{
    background-color: #DB852F;
}

.body-container {
    margin-top: 95px;
    margin-left: 355px;
    margin-right: 355px;
    margin-bottom: 27px;
    background-color: white;
    padding-bottom: 1px;
}

.container {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 6px;
    margin-bottom: 25px;
}

.rounded-corners {
    border-radius: 10px;
}

.title > h1 {
    font-size: 36px;
    text-align: center;
    padding-top: 6px;
    margin-bottom: 0px
}

.gray-background {
    background-color: #D4CDCD;
    color: black;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 26px;
}

.name > input {
    border-radius: 5px;
    border: white;
    height: 22px;
    width: 157px;
    color: #928f8c;
    margin-bottom: 15px;
    padding-left: 8px;
    width: 70%;
  }
  
  .email > input {
    border-radius: 5px;
    border: white;
    height: 22px;
    width: 157px;
    color: #928f8c;
    margin-bottom: 15px;
    padding-left: 8px;
    width: 70%;
  }
  
  .message > input {
    border-radius: 5px;
    border: white;
    height: 83px;
    width: 157px;
    color: #928f8c;
    margin-bottom: 15px;
    padding-left: 8px;
    width: 70%;
  }

  .submit_message > button {
    border-radius: 5px;
    border: white;
    height: 23px;
    width: 85px;
    color: white;
    background-color: #9F2D81;
  }

  .error {
      color: red;
}